@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #10b96a;
    --off-white: #6e6e6e;
    --dark-gray: #6B7280;
    --gray: #F3F4F6;
   
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: #F3F4F6;
    background-color: #1f1f1f;
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    border-radius: 2rem;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/
@media screen and (max-width: 500px) {
    .navigation a {
      float: none;
      display: block;
      text-align: left;
    }
    
    
  }
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: larger;
    margin-bottom: -2.25rem;
    
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
   
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;
   

}

.hero .hero-img {
    background-color: var(--dark-gray) ;
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
    border-radius: 3rem;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    margin-top: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
    padding: 2rem;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog {
    margin-top: 5rem;
}

@media only screen and (max-width: 520px) {
    .blog {
      margin-top: 3rem;
      padding: 0rem 0.8rem;
    }
    .blog img {
        max-width: 320px;
      margin-top: 2.8rem;
      margin-bottom: 1.2rem;
    }
    .blog time {
      font-size: 14px;
    }
    .blog h1 {
      font-size: 2.5rem;
    }
  }


  @media only screen and (max-width: 520px) {
    .hero-img {
      max-width: 320px;
    }
    .hero {
      padding-top: 3rem;
    }
    /* .blog img {
      max-width: auto;
      max-height: auto;
      width: 100%;
    } */
  }